<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);">
<head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
<!-- Jquery incluido -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
	<meta name="viewport" content="width=device-width" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
	

</head>
<body style="background-color: #0080c0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333;">


	<div class="card col-md-10 col-sm-10 col-md-offset-1" style="margin-top: 20px;text-align: center;background-color: #FFFFFF;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 83.33333333%;margin-left: 8.33333333%;">
			
			<div class="col-md-10 col-md-offset-1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 83.33333333%;margin-left: 8.33333333%;">
			<img class="img img-responsive card-img-top" src="http://www.ndireto.com.br/img/logo_nd.png" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;display: block;max-width: 100%!important;height: auto;">
			</div>
			<div class="card-body" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
			
			<div class="col-md-10 col-md-offset-1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 83.33333333%;margin-left: 8.33333333%;">
					<h5 class="card-title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: inherit;font-weight: 500;line-height: 1.1;color: inherit;margin-top: 10px;margin-bottom: 10px;font-size: 14px;">O clube Negócio Direto (ND) possui inúmeros benefícios para quem é associado.</h5>
			</div>
			
						<div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
							<div class="col-md-12" style="border-top: 6px solid #df3065;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
								<br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;"><p class="card-text" th:utext="|Olá,${pessoa.nome}, |" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Olá, <strong style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-weight: 700;">Wallace	Gomes da Silva</strong>,
								</p>
							</div>
							</div>
							
							<div class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
							<div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
								<p class="card-text" th:text="|Você tem uma nova visita agendada para o imóvel situado em ${visita.imovel.enderecoFormatado}, no dia ${#temporals.format(visita.dataHoraVisita,'dd/MMM/yyyy HH:mm')}.|" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">Nova Visita.</p>.
							</div>
							</div>
							
							<div th:unless="${visita.imovel.latitude == null}" class="row" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
								<div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
									<p class="card-text" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;orphans: 3;widows: 3;margin: 0 0 10px;">
										<a th:href="@{https://www.waze.com/ul?ll={latitude},{longitude}&navigate=yes(latitude=${visita.imovel.latitude},longitude=${visita.imovel.longitude})}">
											<span th:text="|Clique aqui para acessar o Waze e chegar ao endereço.|">Link de acesso ao waze</span>
										</a>
									</p>
								</div>
							</div>

							<div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
								<ul class="list-group" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-top: 0;margin-bottom: 20px;padding-left: 0;">
								  <li class="list-group-item d-flex  align-items-left" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;border-top-left-radius: 4px;border-top-right-radius: 4px;">
								    <span class="badge badge-primary badge-pill " style="float: left;background-color: #337ab7;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;border-radius: 10px;">1</span>
								    &nbsp;&nbsp;Venda de Imóvel a 1,99%.
								  </li>
								  
								  <li class="list-group-item d-flex justify-content-between align-items-center" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;">
								    <span class="badge badge-primary badge-pill" style="float: left;background-color: #337ab7;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;border-radius: 10px;">2</span>
								    &nbsp;&nbsp; Lucre com suas indicações.
								  </li>
								  
								  <li class="list-group-item d-flex justify-content-between align-items-center" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;">
								    <span class="badge badge-primary badge-pill" style="float: left;background-color: #337ab7;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;border-radius: 10px;">3</span>
								    &nbsp;&nbsp;Cartas de consórcios da caixa seguradora.
								  </li>
								  <li class="list-group-item d-flex justify-content-between align-items-center" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;">
								    <span class="badge badge-primary badge-pill" style="float: left;background-color: #337ab7;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;border-radius: 10px;">4</span>
								    &nbsp;&nbsp;Certificado Digital (E-CPF ou E-CNPJ).
								  </li>
								  
								   <li class="list-group-item d-flex justify-content-between align-items-center" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;display: block;padding: 10px 15px;margin-bottom: -1px;background-color: #fff;border: 1px solid #ddd;">
								    <span class="badge badge-primary badge-pill" style="float: left;background-color: #337ab7;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;border-radius: 10px;">5</span>
								     &nbsp;&nbsp;Fotos profissionais.
								  </li>
								  
								  <li class="list-group-item d-flex justify-content-between align-items-center" style="text-align: left;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;display: block;padding: 10px 15px;margin-bottom: 0;background-color: #fff;border: 1px solid #ddd;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;">
								    <span class="badge badge-primary badge-pill" style="float: left;background-color: #337ab7;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;min-width: 10px;padding: 3px 7px;font-size: 12px;font-weight: 700;line-height: 1;color: #fff;text-align: center;white-space: nowrap;vertical-align: middle;border-radius: 10px;">6</span>
								    &nbsp;&nbsp; Anúncios nos principais portais da Região.
								  </li>
								</ul>
							</div>

							<div class="col-md-12" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
							
							<footer class="blockquote-footer" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: block;"> A Negócio Direto agradece . <cite title="Source Title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">em caso de dúvida
									acesse http://www.ndireto.com.br</cite></footer><br style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
							</div>
				</div>
			</div>

</body>
</html>