<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;font-family: sans-serif;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);">
<head style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
<!-- Jquery incluido -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
	<meta name="viewport" content="width=device-width" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
	


	<style>
        .whatsapp-share-button{
            display: inline-block;            
            width: 30px;
            height: 30px;
            margin: 5px;
            background-size: 100% 100%; /* ou 'contain' */
            background-repeat: no-repeat;
            background-position: center;
        }
    </style>
	

</head>
<body style="background-color: #585858;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin: 0;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #FFF;">
<!-- <input name="textocompartilhar" id="textocompartilhar" type="text" th:value="|http://ndireto.com.br/clube/registro?indic=${pessoa.token}|"  style="font-size: 25px;" class="form-control"> -->

	<div class="card col-md-10 col-sm-10 col-md-offset-1" style="margin-top: 50px;text-align: justify;background-color: #000;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 83.33333333%;margin-left: 8.33333333%;">
			
			
			<div class="col-md-12 visible-md visible-lg " style="background-color:#000; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;   min-height: 1px;padding-right: 15px;padding-left: 15px;width: 83.33333333%;margin-left: 8.33333333%;">
				<img class="img img-responsive card-img-top" src="http://ndireto.com.br/clube/assets/img/logo.jpeg" style="padding-bottom:10px; position: relative; left:92%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;border: 0;vertical-align: middle;page-break-inside: avoid;display: block;max-width: 20%!important;height: auto;">
			</div>
			
			<div class="card-body" style="background-color:#fff; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
			
						<div class="row" style="background-color:#000; color:#000; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;margin-right: -15px;margin-left: -15px;">
							<div class="col-md-12" style="background-color:#D8D8D8; border-top: 6px solid #ed5d24;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
								
								<br/>
								<span class="card-text" th:utext="|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Olá,${pessoa.nome}, |"></span>   
								<span> 
								o cadastro do seu imóvel foi realizado com sucesso. 
							</span>
						<p>
						A partir de agora, um profissional negócio direto fará uma visita agendada em seu imóvel para registrar fotos profissionais, esclarecer dúvidas do processo negócio direto e para te ajudar com dados do mercado para você definir o preço do seu imóvel. Com esta etapa concluída, somado, a análise documental do imóvel , 
						estaremos aptos a dar o selo de segurança negócio direto e procederemos a divulgação do seu imóvel.
						</p>
						
						<p>
						Lembramos que vc pode escolher demonstrar seu imóvel ou fazer uso de um consultor negócio direto para isso ( veja condições). 
						</p>
						
						<p>
							Importante: Todas as pessoas que visitarem seu imóvel tem os seus dados validados na base de dados do Serpro - Data Valid, com o intuito de reduzir fraudes de identidade.
						</p>
						
						
						<p>
						Mãos à obra para Negócio Direto e para você - o maior interessado na venda do imóvel 
						</p>
						
						
						<p>
						Obrigado pela confiança <br/>Diretoria Negócio Direto
						</p>
						
						
						<p>
							Na indicação de amigos para participar dessa nova experiência de vender um imóvel, você poderá  ganhar uma dinheiro extra compartilhando o link:
							 
							Descubra como ->  
							<a th:href="|https://api.whatsapp.com/send?text=Com ele, você poderá ser o protagonista na venda do seu imóvel, contando com um conjunto de serviços Negócio Direto que cuidarão de você e 
							da sua negociação em todo processo. Além de vender seu imóvel em uma plataforma que trará boas experiências e menores custos, 
							você pode também indicar amigos e ganhar por isso. Acesse o link http://ndireto.com.br/clube/registro?indic=${pessoa.token}, cadastre seu imóvel e descubra como também ganhar dinheiro.|" 
							id="whatsapp-share-btt" rel="nofollow" target="_blank" class=""><img style="width: 30px;" src="http://www.ndireto.com.br/clube/img/vetores/whatsapp.png"> </a>
						</p>
								
								<br/>
								
								
									<br/>
								
							</div>
							
							

							<div class="col-md-12" style="text-align:center;  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;
							box-sizing: border-box;position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;width: 100%;">
							
							<div class="blockquote-footer" style="color:#fff; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: block;"> 
							A Negócio Direto agradece . <cite title="Source Title" style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
							em caso de dúvida
									<br>acesse <a href="http://www.ndireto.com.br">http://www.ndireto.com.br</a></cite>
									</div>
									<br/>
									
							</div>
							</div>
				</div>
				
				<br/>
						
							
			</div>
			

</body>
</html>